<% provide :title, 'Home' %>
<div class="center jumbotron">
  <h1>Sample App</h1>
  <p>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  <%= link_to "Sign up now!", "#", class: "btn btn-log btn-primary" =%>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), 
    "https://rubyonrails.org/" =%>
<%= image_tag "kitten.jpg" =%>
<table>
  <td><%= link_to 'About', static_pages_about_path =%></td>
  <td></td>
  <td><%= link_to 'Help', static_pages_help_path =%></td>
  <td></td>
  <td><%= link_to 'Contacts', static_pages_contacts_path =%></td>
</table>
